/example.aux
/example.log
/example.synctex.gz
/example.thm
/Hướng dẫn sử dụng set_box_1.2025.08.26.pdf
/main.aux
/main.fdb_latexmk
/main.fls
/main.log
/main.pdf
/main.synctex(busy)
/main.thm
/main.toc
/pdflatex16144.fls
/pdflatex3308.fls
/pdflatex4108.fls
/pdflatex8016.fls